<div class="container mb-5" *ngIf="!estoyLogado()">
	<div class="row mb-5">
		<button type="button" class="btn btn-primary mr-2 col-2 mt-4" (click)="comprobarLogin()"><i
				class="fa fa-user mr-2"></i>Login</button>
		<button type="button" class="btn btn-primary col-2 mt-4" (click)="comprobarLoginAdmin()"><i
				class="fa fa-user-shield mr-2"></i>Login as admin</button>
	</div>
</div>

<div class="container" *ngIf="estoyLogado()">
	<!-- Opcion de cambios de estilos dinamicos -->

	<div class="container">
		<div class="panelControl">
			<div class="ml-4">
				<h2>Gestión de personal</h2>
			</div>
			<div class="row ml-3">
				<div class=" ">
					<input type="checkbox" (change)="ChangeClass($event)" checked />
					Estilo de los datos mejorado
				</div>
				<div class="ml-5">
					<input type="checkbox" (change)="ShowColumns($event)" [checked]="visionExtendidaColumnas" />
					Mostrar columnas
				</div>
				<form class="ml-5">
					<label>Elementos x página: <input type="number" name="input" [(ngModel)]="numeroElementos" min="1"
							max="100" required /> </label>
				</form>
			</div>
			<div class="row ml-3">
				<div class="mb-2">
					Añadir al listado
					<button type="button" class="btn btn-warning ml-2" (click)="addPersons(5)">+ 5 </button>
					<button type="button" class="btn btn-warning ml-2" (click)="addPersons(50)">+ 50 </button>
					<button type="button" class="btn btn-warning ml-2" (click)="addPersons(500)">+ 500 </button>
					<span class="ml-2">personas</span>
				</div>
			</div>
		</div>

		<div class="row mt-1">

		</div>
		<div class="row" *ngIf="!listadoGeneral.length">
			<h3>No hay registros a mostrar</h3>
		</div>



		<div *ngIf="listadoGeneral.length">
			<!-- table table-hover  -->
			<div class="row">
				<div class="col-12">El listado actual tiene {{ listadoGeneral.length }} registros</div>
				<br />

				<div class="col-8">
					<table class="{{ ChangeTableClass() }} col-12">
						<thead>
							<th class="heading">&nbsp;</th>
							<th class="heading" (click)="gestionOrdenacion('ID')">ID
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('ID')}}">
							</th>
							<th class="heading" (click)="gestionOrdenacion('nombre')">
								Nombre
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('nombre')}}">
							</th>
							<th class="heading" (click)="gestionOrdenacion('apellidos')">Apellidos
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('apellidos')}}">

							</th>
							<th class="heading" (click)="gestionOrdenacion('perfil')">Perfil
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('perfil')}}">
							</th>

							<th class="heading" *ngIf="visionExtendidaColumnas" (click)="gestionOrdenacion('DNI')">DNI
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('DNI')}}">
							</th>
							<th class="heading" *ngIf="visionExtendidaColumnas" (click)="gestionOrdenacion('sexo')">Sexo
								<img width="18px" style="float: right; " src="{{gestionIconoOrdenacion('sexo')}}">
							</th>
							<th class="heading" *ngIf="visionExtendidaColumnas"
								(click)="gestionOrdenacion('fecha_nacimiento')">Fecha de Nacimiento
								<img width="18px" style="float: right; "
									src="{{gestionIconoOrdenacion('fecha_nacimiento')}}">
							</th>
							<th class="heading" *ngIf="visionExtendidaColumnas"
								(click)="gestionOrdenacion('fecha_antiguedad')">Fecha de Antiguedad
								<img width="18px" style="float: right; "
									src="{{gestionIconoOrdenacion('fecha_antiguedad')}}">
							</th>
						</thead>
						<tbody *ngFor="let registro of getListadoGeneralFiltrado(); let indice = index">
							<tr (click)="seleccionaPersona(registro)">
								<td class="heading">{{ indice + 1 }}</td>

								<td>
									{{ registro.ID }}
								</td>
								<td>{{ registro.nombre }}</td>
								<td>{{ registro.apellidos }}</td>
								<td>{{ getLiteralPerfil(registro.perfil) }}</td>

								<td *ngIf="visionExtendidaColumnas">{{ registro.DNI }}</td>
								<td *ngIf="visionExtendidaColumnas">{{ registro.sexo }}</td>
								<td *ngIf="visionExtendidaColumnas">{{ registro.fecha_nacimiento | date : "dd MMMM yyyy"
									}}</td>
								<td *ngIf="visionExtendidaColumnas">{{ registro.fecha_antiguedad | date : "dd MMMM yyyy"
									}}</td>

								<!-- <td><i class="{{ getIcono(registro.estado) }} fa-2x mr-2" title="{{ registro.estado }}"></i></td> -->
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="ml-3 mt-2 col-6">
							<div class="row infoTabla">
								<div class="col-12 ml-2 mt-2">Pág. actual: {{ getPaginaActual() + 1 }}</div>
								<div class="col-12 ml-2">Elementos por pág.: {{ getElementoXPagina() }}</div>
								<div class="col-12 ml-2 mb-2">Últ. pág.: {{ getPaginaMaxima() + 1 }}</div>
							</div>
						</div>
						<div class="mt-4 col-4">
							<button type="button" [disabled]="disable_boton_atras" class="btn btn-primary ml-4"
								(click)="irAPagina(paginaActual - 1)">Atras</button>
							<button type="button" [disabled]="disable_boton_siguiente" class="btn btn-primary ml-2"
								(click)="irAPagina(paginaActual + 1)">Siguiente</button>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="container">
						<div class="row resumenInfo personControl mb-4" *ngIf="personaSeleccionada">
							<h5 class="col-10 mt-3">Información personal</h5>
							<h5 class="col-1 mt-3" (click)="cierraInfoPersona()">X</h5>
							<div class="col-12"><b>Nombre</b>: {{ personaSeleccionada.nombre }}</div>
							<div class="col-12"><b>Apellidos</b>: {{ personaSeleccionada.apellidos }}</div>
							<div class="col-12"><b>ID</b>: {{ personaSeleccionada.ID }}</div>
							<div class="col-12"><b>Fecha antigüedad</b>: {{ personaSeleccionada.fecha_antiguedad | date
								: "dd MMMM yyyy" }}</div>
							<div class="col-12"><b>Perfil</b>: {{ getLiteralPerfil(personaSeleccionada.perfil) }}</div>
							<div class="col-12"><b>DNI</b>: {{ personaSeleccionada.DNI }}</div>
							<div class="col-12"><b>Sexo</b>: {{ personaSeleccionada.sexo }}</div>
							<div class="col-12"><b>Fecha nacimiento</b>: {{ personaSeleccionada.fecha_nacimiento | date
								: "dd MMMM yyyy" }}</div>
							<div class="col-12"><b>Direccion</b>:</div>
							<div class="col-12"><b>Calle</b>: {{ personaSeleccionada.calle }}</div>
							<div class="col-12"><b>Nº</b>: {{ personaSeleccionada.numero }}</div>
							<div class="col-12 mb-2"><b>Piso</b>: {{ personaSeleccionada.piso }}</div>

							<button type="button" class="btn btn-success col-12" [disabled]="!cuadranteMes"
								(click)="generarCuadrantePersona(personaSeleccionada)">Generar Cuadrante</button>

						</div>

						<div class="row resumenInfo personControl mb-4" *ngIf="!personaSeleccionada">
							<h5 class="col-12 mt-3">Seleccione una persona para ver su información detallada</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="container" *ngIf="listadoGeneral.length">
	<div class="row">
		<h2>Gestión de cuadrantes</h2>
	</div>

	<div class="row panelControl mb-4">
		<div class="col-12 mt-1 ml-1">
			<h5>Requisitos:</h5>
		</div>


		<!-- xxxxxxxxxxxxxxxxxxx -->
		<div class="ml-1 cuadranteLight w300">
			<label class="espaciado-lateral mt-2">Se repetira un turno cada: </label>
			<div class="row">
				<table class=" mb-2 col-10 ml-4 infoTabla">
					<tr *ngFor="let item of perfilesVacios" class="infoTabla">
						<td class="w100">{{ item.nombre }}</td>
						<td>
							<div class="">Días de trab.</div>
							<input class="w50" type="number" name="`trabajo${item.cod}`" [(ngModel)]="item.dias_trabajo"
								min="1" max="30" required />
						</td>
						<td>
							<div class="">Días de desc.</div>
							<input class="w50" type="number" name="`descanso${item.cod}`"
								[(ngModel)]="item.dias_descansos" min="1" max="30" required />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- xxxxxxxxxxxxxxxxxxx -->


		<!-- xxxxxxxxxxxxxxxxxxx -->
		<div class="w300">
			<div class="ml-1 mb-1 cuadranteLight w300">
				<h5 class="ml-3">
					Mes del cuadrante:
				</h5>

				<div class="row espaciado-lateral mt-2 mb-1">
					<select [(ngModel)]="selectedMonth" class="w100">
						<option *ngFor="let month of months" [value]="month.id">{{ month.name }}</option>
					</select>
					<div class="ml-1 mr-1">de</div>
					<input class="w70" type="number" name="anio" [(ngModel)]="selectedYear" min="2022" max="2050"
						required />
				</div>
			</div>
			<div class="ml-1 mb-1  cuadranteLight w300 ">
				<h5 class="ml-3">
					Perfiles a procesar:
				</h5>
				<div *ngFor="let perfil of perfilesVacios">

					<div class="ml-5 ">
						<input type="checkbox" [(ngModel)]="perfil.procesable"/>
						{{ perfil.nombre }}
					</div>

				</div>
			</div>
			<div class="ml-1 cuadranteLight w300 h120">
				Turnos por perfiles y sus valores.
			</div>
		</div>

		<!-- <div class="ml-1 cuadranteLight w300">
			<div class="row espaciado-lateral mt-2">Hay tres turnos con un número mínimo de personas por turno</div>

			<form name="row espaciado-lateral">
				<div class="enLinea espaciado-lateral mt-3">
					<input class="w70" type="number" name="Mañana" [(ngModel)]="personasMinimasXTurnos.M" min="1"
						max="100" required />
					<div class="">[M]añana</div>
				</div>
				<div class="enLinea mr-3">
					<input class="w70" type="number" name="Tarde" [(ngModel)]="personasMinimasXTurnos.T" min="1"
						max="100" required />
					<div class="">[T]arde</div>
				</div>
				<div class="enLinea mb-3">
					<input class="w70" type="number" name="Noche" [(ngModel)]="personasMinimasXTurnos.N" min="1"
						max="100" required />
					<div class="">[N]oche</div>
				</div>
			</form>
		</div> -->

		<div class="col-12 mt-4 mb-4">
			<button type="button" [disabled]="!cuadranteMes" class="btn btn-warning"
				(click)="cuadranteMes=null">Eliminar cuadrante</button>
			<button type="button" [disabled]="!cuadranteMes" class="btn btn-warning ml-2"
				(click)="crearCuadranteMes()">Limpiar
				cuadrantes</button>
			<button type="button" class="btn btn-warning ml-2" (click)="crearCuadranteMes()">Generar cuadrante
				en blanco</button>
			<button type="button" [disabled]="!cuadranteMes" class="btn btn-warning ml-2"
				(click)="iniciaProcesoCuadrante();">Rellenar cuadrante del mes</button>
		</div>
	</div>



	<div style="text-align: center;" *ngIf="realizandoCalculos">
		<img src="../../../../assets/gifs/loading.gif" alt="centered image" height="64" width="64">
	</div>

	<div class="row resumenInfo personControl mb-4">
		<div class="col-12 ml-1" *ngIf="cuadranteMes">
			<h4>Cuadrante del mes de {{ getLiteralMonth(selectedMonth) }} de {{ selectedYear }}</h4>
		</div>

		<!-- CUADRANTE -->

		<div class="col-12" *ngIf="cuadranteMes">
			<table class="col-12 mb-4">
				<thead>
					<!-- <th class="heading">&nbsp;</th> -->
					<th class="heading col-1">
						<h5>Dia</h5>
					</th>
					<th class="heading col-1"></th>
					<th class="heading">
						<h5>Técnicos</h5>
					</th>
				</thead>
				<tbody *ngFor="let item of cuadranteMes.dias; let indice = index">
					<tr class="infoTabla">
						<!-- <td class="heading">{{ indice + 1 }}</td> -->
						<td>
							<h5 class="ml-2">
								{{ item.diaSemana }}
							</h5>
						</td>
						<td>
							<h5>{{ item.numero }}</h5>
						</td>
						<td>
							<div class="panelControl  mb-1" *ngFor="let perfil of item.perfiles">
								<div class="col-3">{{perfil.nombre}}</div>
								<div class="infoTabla">
									<div class="row" *ngFor="let turno of perfil.turnos">
										<div class="col-1 ml-3">

											{{ turno.cod | json }}
										</div>
										<div class="col-10">

											{{ turno.personas?.length | json }} de {{turno.personas_minimas}}
											{{listadoPersonas(turno.personas)}}
										</div>
									</div>
								</div>
							</div>

						</td>

					</tr>
				</tbody>
			</table>
		</div>

		<!-- FIN CUADRANTE -->
	</div>
</div>