:root {
	--blanco: #ffffff;
	--negro: #000000;
  
	--azul1: #003754;
	--azul2: #14648e;
	--azul3: #086ca2;
	--azul4: #3c9dd0;
	--azul5: #8dcff3;

	--amarillo1: #705200;
	--amarillo2: #b2850b;
	--amarillo3: #ffba00;
	--amarillo4: #ffcb40;
	--amarillo5: #ffd973;

	--rojo1: #8a260b;
	--rojo2: #a62500;
	--rojo3: #ff3900;
	--rojo4: #ff6b40;
	--rojo5: #ff9273;

	--verde1: #156000;
	--verde2: #25860b;
	--verde3: #30c507;
	--verde4: #6bff40;
	--verde5: #c4fab5;
	--verde6: #ebffe6;
}
