<body>
  <section class="notFound">
    <div class="text">
      
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>

      <h2>
        No hemos podido encontrar la página que estás buscando<br /><br />¿Quieres
        que te llevemos a la página de inicio?
      </h2>
      <div class="row">
        <div class="col">
          <a href="#" class="yes">Si, por favor</a>
        </div>
        <div class="col">
          <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo"
            >No, llévame a otro lado</a
          >
        </div>
      </div>
    </div>
  </section>

</body>
